body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .profile-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;

  }

  .profile-container h1 {
    color: #333;
  }

  .profile-info {
    margin-top: 20px;
  }

  .profile-info p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
  }
  h1{
    font-size: 15px;
  }
  ul{
    text-align: left;
  }
  h2{
    text-align: center;
  }